#landing{
    height: 100%;
    background-image: url('C:/Users/shane/pictures/castle.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
};

 @media screen and (max-width: 980px) {
    #landing{
    height: 100%;
    background-image: url('C:/Users/shane/pictures/castle.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
};
 @media screen and (max-width: 768px) {
   #landing{
    height: 100%;
    background-image: url('C:/Users/shane/pictures/castle.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
};
 @media screen and (max-width: 640px) {
   #landing{
    height: 100%;
    background-image: url('C:/Users/shane/pictures/castle.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
};
